[user]
name = Allen, Timothy
email = tallen@wharton.upenn.edu

[color]
branch = auto
diff = auto
status = auto

[color "branch"]
current = yellow reverse
local = yellow
remote = green

[color "diff"]
meta = yellow bold
frag = magenta bold
old = red
new = cyan

[color "status"]
added = yellow
changed = green
untracked = cyan

[pull]
default = current
rebase = false

[push]
default = current

[merge]
tool = emerge

[alias]
unstage = reset HEAD --
last = log -1 HEAD
hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
graph = log --graph --branches --remotes --tags --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
compare = log --graph --left-right --cherry-pick --oneline

[core]
autocrlf = false

[winUpdater]
recentlySeenVersion = 2.22.0.windows.1
